/* Header */
nav {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative; 
    top: 0; 
}

.header_container{
    display: flex;
    flex-direction: row;
}

.menu-logo a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.menu-options a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
}

.menu-options a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}
