body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

h1 {
    text-align: center;
    color: #4a4a4a;
}

section {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    border: 2px solid black;
    gap: 2rem;
    box-sizing: border-box;
}

.user_card_container {
    max-width: 300px;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 10px;
}

.user_card_container img {
    width: 200px; /* Ancho fijo */
    height: 200px; /* Alto fijo */
    object-fit: cover; /* Ajusta la imagen para que cubra el área */
    border-radius: 50%; /* Redondea las esquinas para hacerla circular */
}

.user-data {
    padding: 10px;
}

.g {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}