.chapter-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 2rem;
  padding: 2rem;
  justify-items: center;
}

@media (max-width: 768px) {
  .chapter-list {
    grid-template-columns: 1fr;
    padding: 1rem;
  }
} 