{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/users.css' %}">
{% endblock %}


{% block content %}
    <h1>Lista de Usuarios</h1>
    <section>
        <div class="g">
            {% for user in users %}
                {% include 'components/UserCard.html' with name=user.name email=user.email id=user.id photo=user.photo %}
                <!--
                <li>
                    <img src="{{user.photo}}" style="width:200px;height:200px;"/> 
                    {{ user.name }} - {{ user.email }}
                </li>
                -->
            {% endfor %}
        </div>
    </section>
{% endblock %}