.container.products
{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.product-list-item
{
    display: flex;
    flex-direction: row;
    row-gap: 0.5rem;
    width: 70%;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.product-image
{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 50%;
    height: 50%;
    border-radius: 10%;
}

.product-details
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 65%;
    padding: 10px;
}

.container-products-details
{
    margin-left: 1rem;
    text-align: start;
}

.products-title
{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 2rem;
}

h4 {
    font-size: 1.2rem;
}

p {
    font-size: small;
    color: gray;
}

.precio-p {
    color: black;
}

.cart-modal {
    position: absolute;
    top: 60px; /* Ajusta según sea necesario */
    right: 20px; /* Ajusta según sea necesario */
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px; /* Ancho del carrito */
    max-height: 400px; /* Altura máxima */
    overflow-y: auto; /* Desplazamiento vertical si es necesario */
    border-radius: 8px; /* Bordes redondeados */
}

.cart-modal h2 {
    margin: 0 0 10px 0; /* Margen inferior */
}

.cart-modal ul {
    list-style-type: none; /* Sin viñetas */
    padding: 0; /* Sin padding */
}

.cart-modal li {
    margin-bottom: 10px; /* Espacio entre productos */
    border-bottom: 1px solid #eee; /* Línea divisoria */
    padding-bottom: 5px; /* Espacio inferior */
}

.cart-modal button {
    background-color: #007bff; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    padding: 10px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar cursor al pasar el mouse */
}

.cart-modal button:hover {
    background-color: #0056b3; /* Color de fondo al pasar el mouse */
}

.product-list-item:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.3s ease;
}